<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button icon="chevron-back-outline" defaultHref="signup"></ion-back-button>
      </ion-buttons>
      <ion-title class="header">category</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <div class="ion-padding">
        <div class="main-area">
            <div class="image-area">
                <img src="assets/images/logo.png" loading="lazy" alt=""/>
            </div>
            <div class="inner-text">
                <p>
                    please choose any category
                </p>
            </div>
            <div class="listing">
                <div class="list-single" routerLink="/login">
                    <span><img src="assets/images/category-1.png" loading="lazy" alt=""/></span>
                    <h4>FreelancerGoob</h4>
                </div>
                <div class="list-single" routerLink="/login">
                    <span><img src="assets/images/category-2.png" loading="lazy" alt=""/></span>
                    <h4>Online Marketplace</h4>
                </div>
                <div class="list-single" routerLink="/login">
                    <span><img src="assets/images/category-3.png" loading="lazy" alt=""/></span>
                    <h4><span></span>EventGoob</h4>
                </div>
                <div class="list-single" routerLink="/login">
                    <span><img src="assets/images/category-4.png" loading="lazy" alt=""/></span>
                    <h4><span></span>How It Works</h4>
                </div>
            </div>
        </div>
    </div>
</ion-content>
